


#root{
	-fx-background-color:#00FF00;
}




#topMenu{
  -fx-background-color:#FF0000;
}


#statusBar{
	-fx-background-color:#0000FF;
}

#activeScreenContainer{
	-fx-background-color:#000000;
}

#activeScreen{
	-fx-background-color:#FFFFFF;
}