


#fxmlShell{
	
	-fx-background-color:#686868;
}


#navigationRegion{
	-fx-background-color:#aaaaFF;
	-fx-border-width: 1px;
	-fx-border-color:#000000;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
	-fx-padding: 0px 20px 0px 20px;
}


#activeScreenRegion{
	-fx-background-color:#aaFFaa;
	-fx-scale-x:1.0;
	-fx-scale-y:1.0;
	-fx-border-width: 1px;
	-fx-border-color:#000000;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
}

#defaultScreen{
}

#notificationRegion{
	-fx-background-color:#FFaaaa;
	-fx-border-width: 1px;
	-fx-border-color:#000000;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
}

#currentNotification{}


            
            
            
.root {
    -fx-font-family: "Droid Sans Georgian";
    -fx-font-size: 11.624203821656051px;
    -fx-background-image: url('../images/background-small_black_dot.png');
    -fx-background-repeat: repeat;
}
.button, .toggle-button, .choice-box {
    -fx-background-radius: 2, 2, 1, 0;
    -fx-padding: 5px 12px 5px 12px;
}
.menu-button {
    -fx-background-radius: 2, 2, 1, 0;
}
.menu-button .label {
    -fx-padding: 5px 20px 5px 12px;
}
.menu-button .arrow-button {
    -fx-padding: 5px 8px 5px 0px;
}
.choice-box {
    -fx-padding: 0 8px 0 0;
}
.choice-box .label {
    -fx-padding: 5px 6px 5px 8px;
}
.choice-box .open-button {
    -fx-padding: 1 0 0 10px;
}
.combo-box-base:editable .text-field, .combo-box-base .arrow-button, .combo-box .list-cell {
    -fx-padding: 5px 8px 5px 8px;
}
.check-box .box {
    -fx-padding: 0.25em;
}
.radio-button .radio {
    -fx-padding: 0.333333em;
}
.label, .check-box, .radio-button {
    -fx-text-fill: -fx-text-background-color;
}
.button, .toggle-button, .check-box .box, .radio-button .radio, .choice-box, .menu-button, .tab, .combo-box-base {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.button:focused, .toggle-button:focused, .check-box:focused .box, .radio-button:focused .radio, .choice-box:focused, .menu-button:focused, .combo-box-base:focused {
    -fx-background-insets: -1.4, 0, 1, 2;
}
.combo-box-base .arrow-button {
    -fx-background-insets: 0, 1, 2;
}
.choice-box .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
.menu-button .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
            
     